.one {
   margin-left: 100px;
}

.two {
   height: 30px;
   width: 35px;
   border: none;
   margin-top: 5px;
}

.three {
   text-align: right;
   width: 23%;
}

.four {
   float: right;
   margin-top: auto;
}
.history{
   margin-right: 40px;
   text-align: right;
}